<h3>Create a Category</h3>
<%= form_with model: @category do |form| %>

  <%= form.text_field :name, placeholder: "nombre" %>
  <%= form.check_box :enable %>
  <%= label_tag(:enable, "Habilitar") %>
  <%= form.submit %>

<% end %>
